/*
here is where all of the styling will go   
*/



body {
    background-color: green;
    
    text-align: center;

}

header {
    text-align: center;
    color: white;
}

#results {
    display: flex;
    float: right;
    border: 1px solid white;
    border-radius: 35px;
    border-width: 4px;
    width: 100px;
    height: 40px;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
}    

#playerWinPic {
    justify-content: center;    

}
button {
  width: 100px;
  height: 40px;
  border-width: 4px;
  border-radius: 35px;
  font-size: 13px;

}

button:active{
    font-size: 15px;
}

button:hover{
    background-color: aqua;
}

.mainTitle {
    border: 1px solid white;
    flex: auto;
    border-radius: 35px;
    background-color: black;
}

.dealerTitle {
    text-align: center;
    color: white;
    border: 1px solid white;
    flex: auto;
    border-radius: 35px;
    background-color: black;
    width: 200px;
    margin: auto;
    margin-bottom: 5px;

}

.dealerArea {
    border: 5px solid white;
    height: 30vh;
}

.dealerCardArea img {
    display: flex;
    float: left;
    height: 225px;
    width: 225px;
    margin: 1px;

}
.cardBackImg {
    display: flex;
    height: 225px;
    width: 225px;

}

.scoreArea {
    /* border: 5px solid white; */
    height: 15vh;
    justify-content: center;
}

#tableScores {
    justify-content: center;
    display: flex;
    border: 5px white solid;
    margin-top: 30px;
    border-radius: 35px;
    background-color: black;
    color: white;
    
    
}

.buttonsSection {
    border: solid 1px white;
    margin-top: 20px;
    border-radius: 35px;
    background-color: black;

}

.playerWinHeader {
    border: 5px solid white;
}


.dealerScore{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin-left: 10vw;

}
.dealerHandScore {
    justify-content: center;
    display: flex;
    border: solid 10px black;
    width: 50px;
    margin-left:50vw

}

.dealerGameScore {
    display: flex;
    justify-content: center;
    width: 50px;
    margin-left:50vw

}

.dealerGameScoreNum {
    justify-content: center;
    display: flex;
    border: solid 10px black;
    width: 50px;
    margin-left:50vw
}

.playerArea {
    border: 5px solid white;
    height: 30vh;
}

.playerTitle{
    text-align: center;
    color: white;
    border: 1px solid white;
    flex: auto;
    border-radius: 35px;
    background-color: black;
    width: 200px;
    margin: auto;
    margin-bottom: 5px;

}
.playerCardArea img {
    height: 225px;
    width: 225px;
    margin: 1px;

}



footer {
    justify-content: center;
    margin: auto;
    display: flex;
}